Run Stata in Jupiter Notebook

In [4]:
display "Hello, world!"

Hello, world!

In [5]:
sysuse auto.dta

(1978 automobile data)

In [6]:
tabulate foreign headroom

           |                     Headroom (in.)
Car origin |       1.5        2.0        2.5        3.0        3.5 |     Total
-----------+-------------------------------------------------------+----------
  Domestic |         3         10          4          7         13 |        52
   Foreign |         1          3         10          6          2 |        22
-----------+-------------------------------------------------------+----------
     Total |         4         13         14         13         15 |        74


           |          Headroom (in.)
Car origin |       4.0        4.5        5.0 |     Total
-----------+---------------------------------+----------
  Domestic |        10          4          1 |        52
   Foreign |         0          0          0 |        22
-----------+---------------------------------+----------
     Total |        10          4          1 |        74

Run R in Jupiter Notebook

Examples of data

In [7]:
library(tidyverse)
library(ggpubr)
theme_set(theme_pubr())

# Load the package
data("marketing", package = "datarium")
head(marketing, 4)

command library is unrecognized

r(199);
r(199);

Visualization

In [ ]:
ggplot(marketing, aes(x = youtube, y = sales)) +
  geom_point() +
  stat_smooth()

Regression

In [ ]:
model <- lm(sales ~ youtube, data = marketing)
summary(model)

ggplot(marketing, aes(youtube, sales)) +
  geom_point() +
  stat_smooth(method = lm)